.heading {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster';
  color: #0f172a;
}
.card-cont {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-card {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 700px;
}
.failure-img {
  height: 200px;
  width: 200px;
}
.failure-para {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster';
  font-style: normal;
  color: #0f172a;
}
