.button {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #0f172a;
  border-width: 0px;
  outline: none;
  background-color: transparent;
}
.button1 {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #0284c7;
  outline: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px #0284c7;
}
